@import url('colors.css');
@import url('common-css/header-content-index.css');
@import url('common-css/footer-content-index.css');
@import url('sub-blogPage-css/side-content-blogpost.css');
@import url('sub-blogPage-css/rounded-button-blogpost.css');
@import url('sub-blogPage-css/images-blogpost.css');
@import url('sub-blogPage-css/main-blogpost.css');

body{
    margin: 20px;
    font-size: 14px;
}
a{
    color: blue;
}
.container{
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "hd hd hd "
    "main main sd"
    "ft ft ft";
}

 /* *Medium Screens* */
 @media (min-width: 600px)and (max-width:900px) {
    body{
        margin: 20px;
        font-size: 16px;
    }
}

 /* *Large Screens*  */
@media (min-width:901px) {
    body{
        margin: 20px;
        font-size: 18px;
    }  
}



