:root {
    --primary-color: rgb(74, 132, 248);
    --secondary-color: grey; 
    --accent-color: #28a745; 
    --background-color: rgb(242, 242, 242); 
    --subscribe-color:#000;
    --blue-color: blue; 
}