@import url('colors.css');
.footer{
    display: flex;
    flex-direction: column; 
    grid-area: ft;
    margin-right: 5%;
    margin-left: 1%;
    padding: 15px;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
}