@import url('colors.css');
@import url('main-content-index.css');
@import url('header-content-index.css');
@import url('footer-content-index.css');
body{
    margin: 20px;
}
a{
    color: var(--primary-color);
}
.container{
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
    "side hd hd"
    "side main main"
    "side ft ft";
}


