@import url('colors.css');
.main{
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    padding: 20px;
}
.card{
    display: grid;
    width: 85%;
    height: 70%;
    grid-template-rows: 25px 1fr;
    grid-template-areas:
    "tp"
    "main"
    "continue";
    border-style: groove;
    border-width: 2px;
    padding: 20px;
}
.type-left{
    grid-area: tp;
    Color:var(--blue-color);
    font-weight: bold;
    font-size: 15px;
    margin: 2px 0;
}
.type-right{
    grid-area: tp;
    color: var(--accent-color);
    font-weight: bold;
    font-size: 15px;
    margin: 2px 0;
}
.main-cont{
    grid-area: main;
}
.continue-left{
    grid-area: continue;
}
.image-paragraph{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 15px;
}
.image-paragraph img {
    height: 100px; 
    width: 120;
}
#card-title {
    font-weight: bold;
    font-size: 19px;
    margin: 5px 0; 
}
#date {
    margin: 5px 0; 
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-color);;
}

#paragraph {
    margin: 5px 0; 
}
#continue{
    color:var(--primary-color);
}