.button-container {
    display: flex;
}

.rounded-button {
    border-radius: 30px; 
    padding: 10px 15px;
    margin-right: 10px; 
    font-size: 14px;
}

.older-post {
    background-color: white; 
    color: blue; 
    border: 1px blue solid;
}

.newer-post {
    background-color: white; 
    color: grey; 
    border: 1px grey solid;;
}