.avatar {
    width: 150px; 
    height:200px; 
    border-radius:50%; 
    margin-right: 15px; 
}
.side{
    display: grid;
    grid-area: sd;
    margin: 20px;
}
.column-wise{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
}